<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hello Spring Boot</h1>
<a href="/oauth2/authorization/kakao" class = "btn btn-success active" role="button">Kakao Login</a>
<a href="/oauth2/authorization/naver" class = "btn btn-secondary active" role="button">Naver Login</a>
<a href="/oauth2/authorization/apple" class = "btn btn-secondary active" role="button">Apple Login</a><div class="logout">

<div class="logout">
    <a th:href="@{/api/v1/auth/logout/naver}" class="btn btn-primary" role="button">네이버 로그아웃</a>
    <a th:href="@{/api/v1/auth/logout/kakao}" class="btn btn-primary" role="button">카카오 로그아웃</a>
    <a th:href="@{/api/v1/auth/logout/apple}" class="btn btn-primary" role="button">애플 로그아웃</a>


</div>
\</body>
</html>